{% extends 'base.html' %}
{% block content %}
<h1>{{ forum.title }}</h1>
<p>{{ forum.content }}</p>
<p>Dibuat oleh {{ forum.author.username }} pada {{ forum.created_at }}</p>
<p>{{ forum.likes.count }} Like</p>
{% if user.is_authenticated %}
    <form action="{% url 'forum_like' forum.pk %}" method="post">
        {% csrf_token %}
        {% if user in forum.likes.all %}
            <button type="submit">Unlike</button>
        {% else %}
            <button type="submit">Like</button>
        {% endif %}
    </form>
{% endif %}
{% endblock %}
