{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="header">
    {% include 'navbar.html' %}
</div>

{% if not stories_entries %}
<p>Belum ada data Stories.</p>
{% else %}
<table>
  <tr>
    <th>Name</th>
    <th>image</th>
    <th>Description</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
  {% endcomment %} 
  {% for stories_entry in stories_entries %}
  <tr>
    <td>{{stories_entry.name}}</td>
    <td>{{stories_entry.image}}</td>
    <td>{{stories_entry.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

{% if user.is_superuser %}
<a href="{% url 'BaliLoka_stories:add_stories_entry_ajax' %}">
    <button>Add New Stories Entry</button>
  </a>
{% endif %}

{% endblock content %}