{% load static %}
<div class = "flex items-center h-24 space-x-5 justify-center">
    <div class="flex items-center space-x-10">
        <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2 pl-16">
            <img src="{% static 'image/food.png' %}" alt="" class="h-6 w-6"/>
            <p class="text-xs font-normal">Food</p>
        </div>
        <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2">
            <img src="{% static 'image/food.png' %}" alt="" class="h-6 w-6"/>
            <p class="text-xs font-normal">Drinks</p>
        </div>
        <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2">
            <img src="{% static 'image/food.png' %}" alt="" class="h-6 w-6"/>
            <p class="text-xs font-normal">Clothing</p>
        </div>
        <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2">
            <img src="{% static 'image/food.png' %}" alt="" class="h-6 w-6"/>
            <p class="text-xs font-normal">Souvernirs</p>
        </div>
        <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2">
            <img src="{% static 'image/food.png' %}" alt="" class="h-6 w-6"/>
            <p class="text-xs font-normal">Bags & Wallets</p>
        </div>
        <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2">
            <img src="{% static 'image/food.png' %}" alt="" class="h-6 w-6"/>
            <p class="text-xs font-normal">Jewelry</p>
        </div>
        <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2">
            <img src="{% static 'image/food.png' %}" alt="" class="h-6 w-6"/>
            <p class="text-xs font-normal">Paintings</p>
        </div>
        <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2">
            <img src="{% static 'image/food.png' %}" alt="" class="h-6 w-6"/>
            <p class="text-xs font-normal">Aromatherapy</p>
        </div>
        <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2">
            <img src="{% static 'image/food.png' %}" alt="" class="h-6 w-6"/>
            <p class="text-xs font-normal">Handicrafts</p>
        </div>
        <div class="flex flex-col items-center text-gray-400 hover:text-black gap-2">
            <img src="{% static 'image/food.png' %}" alt="" class="h-6 w-6"/>
            <p class="text-xs font-normal">Beachwear</p>
        </div>
    </div>
    <div class="flex justify-around items-center rounded-xl shadow-md h-12 w-24 border">
        <span class="material-symbols-outlined pl-2">sync_alt</span>
        <p class="text-sm font-medium pr-2">Filters</p>
    </div>
</div>