{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
{% endblock meta %}


{% block content %}
    <div class="header">
        {% include 'navbar.html' %}
        {% include 'category.html' %}
    </div>

    <main>
        <div class="flex items-center justify-center pt-90">
            <!-- Konten dengan scroll -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-0"> <!-- Menambahkan class scrollable-content -->
                {% include 'card_product_main.html' %}
            </div>
        </div>
    </main>



{% endblock content %}